<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">کپی رایت فروشگاه خودتون</span>
    </div>
</nav>

@code{
    string year = "";
    protected override void OnInitialized(){
        year = DateTime.Now.Year.ToString();
        base.OnInitialized();
    }
}